ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
}

li {
  margin: 0;
}

.postLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;


  color: var(--secondary);
}

li p {
  font-size: 1.0rem;
}

li h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

